    {% extends "accounts/auth_base.html" %}

    {% block content %}

    <div class="auth-card">

    <h3>Reset Password</h3>

    <p>
    Enter your email address. We will send password reset instructions.
    </p>


    <form method="post">

    {% csrf_token %}

    <div class="form-group">

    <label>Email Address</label>

    <input 
    type="email"
    name="email"
    placeholder="Enter your email"
    required>

    </div>


    <button class="auth-btn">
    Send Reset Email
    </button>


    </form>


    <a href="{% url 'login' %}">
    Back to Login
    </a>


    </div>

    {% endblock %}