{% extends "base.html" %}
{% load static %}

{% block content %}

<h2>Assessment Details</h2>

<hr>

<h3>Personal Information</h3>

<p><strong>Age:</strong> {{ record.age }}</p>

<p><strong>Gender:</strong> {{ record.gender }}</p>

<p><strong>HbA1c:</strong> {{ record.hbA1c_level }}</p>

<p><strong>Blood Glucose:</strong> {{ record.blood_glucose_level }}</p>

<p><strong>BMI:</strong> {{ record.bmi }}</p>

<hr>

<h3>Health Measurements</h3>

<p><strong>Hypertension:</strong> {{ record.hypertension|yesno:"Yes,No" }}</p>

<p><strong>Heart Disease:</strong> {{ record.heart_disease|yesno:"Yes,No" }}</p>

<!-- <p><strong>Glucose:</strong> {{ record.glucos }}</p> -->

<hr>

<h3>Lifestyle</h3>

<p><strong>Smoking History:</strong> {{ record.smoking_history }}</p>

<!-- <p><strong>Exercise:</strong> {{ record.exercise }}</p> -->

<!-- <p><strong>Sleep:</strong> {{ record.sleep }} hours</p> -->

<!-- <p><strong>Alcohol:</strong> {{ record.alcohol }}</p> -->

<!-- <hr>

<h3>Family History</h3>

<p>{{ record.family_history }}</p>
<hr> -->

<hr>

<a href="{% url 'patients:assessment_result' record.id %}"
   class="btn btn-success">
    View AI Result
</a>

<a href="/patients/delete/{{ record.id }}/"
   class="btn btn-danger">
    Delete Assessment
</a>


{% endblock %}
